<h3>ActiveMQ Controller</h3>

<ul>
  <li><a href="/start">start</a></li>
  <li><a href="/stop">stop</a></li>
</ul>

Message service running on <b><%= $harbor_host %>:<%= $activemq_port %></b><br />
Stomp service running on <b><%= $harbor_host %>:<%= $stomp_port %><br />

