<!doctype html>
<html>
<head>
 <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>

<script type="text/javascript">
var current = 0;
var previousSlide = "";

function refresh() {
  // ajax call to get current slide and render it
    $.ajax({
    url: "/current/<%= @topic %>",
    beforeSend: function ( xhr ) {
      xhr.overrideMimeType("text/plain; charset=x-user-defined");
    }
  }).done(function ( data ) {
     if( console && console.log ) {
       console.log("Sample of data:", data.slice(0, 160));
       showSlide(data);
    }
  });
}

function showSlide(url) {
  if (url != previousSlide) {
    document.getElementById("slideframe").src = url;
    previousSlide = url;
  }
}

setInterval(refresh,999);
</script>
</head>



<body>

<iframe id="slideframe" name="slideshow" width="1024" height="768"><p>SLIDESHOW</p></iframe>

<h3>Slideshow <%= @topic %></h3>

</body>
</html>
